<h1>Links</h1>
<div class="row">
  <div class="container">
    <%= form_for(@link) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :url %>
      <%= f.text_field :url %>

      <%= f.submit "save", class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="container">
    <table class="col-md-10">
      <tbody>
        <% if @links %>
        <% @links.each do |link| %>
        <tr>
          <td>
            <h3 class="name" data-id=<%= link.id %> ><%= link.name %></h3>
          </td>
          <td>
            <h6 class="url" data-id=<%= link.id %> ><%= link.url %></h6>
          </td>
          <td class="status">
            <% if !link.read %>
              <h6>unread</h6>
            <% else %>
              <h6>read</h6>
            <% end %>
          </td>
          <td>
            <% if !link.read %>
            <a class="change btn btn-warning"  data-id=<%= link.id %> >mark as read</a>
            <% else %>
            <a class="change btn btn-warning"  data-id=<%= link.id %> >mark as unread</a>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
