<h1>Links</h1>
<div class="row">
  <div class="container col-md-offset-1">
    <%= form_for(@link) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :url %>
      <%= f.text_field :url %>

      <%= f.submit "save", class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="container col-md-6 col-md-offset-2">
    <form class="form-inline" id="searchLinks">
      <label for="search">search</label>
      <input type="text" class="form-control" name="search" id="search">
    </form>
  </div>
  <div class="container">
    <table class="col-md-10">
      <tbody id="tbody">
        <% if @links %>
        <% @links.each do |link| %>
        <tr>
          <td>
            <h3 class="edit name" data-id=<%= link.id %> ><%= link.name %></h3>
          </td>
          <td>
            <h6 class="edit url" data-id=<%= link.id %> ><%= link.url %></h6>
          </td>
          <td class="status">
            <% if !link.read %>
              <h6>unread</h6>
            <% else %>
              <h6>read</h6>
            <% end %>
          </td>
          <td>
            <% if !link.read %>
            <a class="change btn btn-warning"  data-id=<%= link.id %> >mark as read</a>
            <% else %>
            <a class="change btn btn-warning"  data-id=<%= link.id %> >mark as unread</a>
            <% end %>
          </td>
          <td>
            <a class="edit btn btn-primary"  data-id=<%= link.id %> >edit</a>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
